.App {
  background-image: url('../public/images/background_image.jpg'); /* 이미지 경로 설정 */
  background-size: cover; /* 이미지를 컨테이너에 맞게 조정 */
  background-position: center; /* 이미지를 가운데 정렬 */
  width: auto;
  height: 110vh; /* 화면 전체 높이로 설정하여 가운데 정렬 */
}
*{
  list-style: none;
  padding: 0;
  margin: 0;
}

input { 
  padding-left: 5px; 
}

div.Header{
  padding-top: 15px;
  padding-bottom: 15px;
}

div.Header p.logo {
  color: white;
  text-align: center;
  margin-bottom: 5px; 
  
}

.logo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px; 
}

.logo:hover {
  cursor : pointer;
  margin-bottom: 5px; 
}


.navbar ul {
  display: flex;
  justify-content: center; /* 변경 */
  
  text-align: center;
  align-items: center;
}

.username {
  text-align: center;
}
.username li {
  padding: 8px;
  color: white;
  margin: 8px;
}

.loginForm {
  display: flex;
  width: 300px;
  height : 120px;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  flex-direction: column;
  margin-top: 5px;
  
}
.signUpForm {
  display: flex;
  width: 300px;
  height : 120px;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  flex-direction: column;
  margin-top: 5px;
  
}
.loginForm div {
  margin-bottom: 10px; /* 각 input 사이의 간격 조절 */
}

.signUpForm div {
  margin-bottom: 10px; /* 각 input 사이의 간격 조절 */
}

.social_login_group{
  display: flex;
}

.socialLoginLogo {
  width : 40px;
  margin: 15px;
}

.socialLoginLogo:hover {
  cursor: pointer;
}

.loginBtn {
  background-color: #007bff; /* 배경색 */
  color: #fff; /* 텍스트 색상 */
  border: none; /* 테두리 없음 */
  padding: 10px 20px; /* 안쪽 여백 */
  font-size: 16px; /* 폰트 크기 */
  cursor: pointer; /* 포인터 커서 */
  border-radius: 5px; /* 모서리 둥글게 */
}

/* 버튼에 호버 효과 */
.loginBtn:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
}

.loginForm input {
  /* input 태그에 대한 스타일 지정 */
  width: 220px;
  height : 30px;
  border-radius: 4px;
  border: none; /* 테두리 없음 */
  margin: 0; /* 마진 없음 */
  outline: none; /* 포커스 시 테두리 제거 */
}
.signUpForm input {
  /* input 태그에 대한 스타일 지정 */
  width: 220px;
  height : 30px;
  border-radius: 4px;
  border: none; /* 테두리 없음 */
  margin: 0; /* 마진 없음 */
  outline: none; /* 포커스 시 테두리 제거 */
}

.socialLoginLogo {
  border-radius:  20px;
}

.loginBtnGrp{
  display: inline-block;
}

.loginBtnGrp button {
  margin : 12px;
}


.contents {
  color : white;
  height : 90vh;
  display: flex; /* 수평 가운데 정렬을 위해 추가 */
  justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
  align-items: center;
  text-align: center; /* 이 부분은 제거해야 합니다. */
  margin-right: 24px;
}



.mobile-video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  width: 370px;
  height: 650px;
  background-color: black;
  border-radius: 40px;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: auto;
  position: relative;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.screenInfo {
  width: 300px;
  height: 650px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}
.screenInfo ul{
  margin: 16px;
}

.screenInfo li{
  height: 40px;
  padding-top: 5px;
  border-bottom: solid black 1px;
  
}

.screenInfo ul li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.fileUploadContents{
  color : white;
  height : 90vh;
  display: flex; /* 수평 가운데 정렬을 위해 추가 */
  justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
  align-items: start;
  text-align: center; /* 이 부분은 제거해야 합니다. */
  margin-right: 24px;
  margin-top: 110px;
  }


.fileUploadContents div{
  margin: 8px;
}


.fileUploadContents input {
  /* input 태그에 대한 스타일 지정 */
  width: 220px;
  height : 30px;
  border-radius: 4px;
  border: none; /* 테두리 없음 */
  margin: 0; /* 마진 없음 */
  outline: none; /* 포커스 시 테두리 제거 */
}


.preview-video {  
  border-radius: 12px;
}


.fileUploadSubmitBtn{
  text-align: right;
}

.fileUploadSubmitBtn button {
  padding: 8px;
  border-radius: 12px;
  text-decoration: none;
  border: none;
  background-color: rgb(184, 197, 255);
}


.fileUploadSubmitBtn button :hover {
  cursor: pointer;
}

.moveFileUploadPage { 
  display: flex;
  justify-content: center; 
}

.redirectPage {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}





.userInfo{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}





.userInfo p {
  text-align: left;
  color: white;
}



li img{
  margin: 1px;
  width: 40px;
  height: 40px;
}



/* 모바일 화면에 대한 스타일 */
@media (max-width: 768px) {


.preview-video {
  display: none;
}

}
